
.Analog {

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 5rem;

  display: flex;
  flex: 1;

  .square {
    width: 100%;
    display: flex;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .clock-face {
    display: none;
    stroke: none;
  }

  .hours-indicator {
    stroke: #fff;
    stroke-width: 12;
    stroke-linecap: round;
  }

  .minutes-indicator {
    stroke: #333;
    stroke-width: 12;
    stroke-linecap: round;
  }

  .hour-hand {
    stroke: rgba(255, 255, 255, .5);
    stroke-linecap: round;
    stroke-width: 12;
  }

  .minute-hand {
    stroke-linecap: round;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: 4;
  }

  .second-hand, .second-hand-counterweight {
    stroke: rgba(180,0,0, .8);
  }

  .second-hand-counterweight {
    stroke-width: 4;
  }

  .hours {
    fill: rgba(255, 255, 255, .5);
    stroke: transparent;
  }

}